<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm John Espinosa</h1>
		<p>Welcome to my first personal Rails App</p>
		<p>I built this blog using Ruby on Rails, and it is my first starter app.</p>
    <p>As I progress in my journey to learning programming, I will post more about what I learn here.</p>
    <p>Thanks for visiting, and following my journey.<p>
    <p>-John</p>

</div>
